

 html,
 body {
     margin: 0;
     padding: 0;
 }

 * {
     box-sizing: border-box;
     list-style: none;
 }

 .slider {
     width: 70%;
     margin: 10px auto;
 }

 .slick-slide {
     margin: 0px 0px;
 }

 .slick-slide img {
     width: 100%;
 }

 .slick-prev:before,
 .slick-next:before {
     color: black;
 }


 .slick-slide {
     transition: all ease-in-out .3s;
     opacity: 1;
 }

 .slick-active {}

 .slick-current {
     opacity: 1;
 }

 .center_slicer {
     cursor: pointer;
 }

 .slider_modal {
     width: 1500px;
     height: 850px;
     border-radius: 5px;
     background-color: transparent;
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     z-index: 999;
     opacity: 0;
     transform: translate(-50%, -50%);
 }

 .modal_back {
     width: 100%;
     height: 100%;
     background-color: black;
     opacity: 0;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 800;
     display: none;
 }

 .X {
     width: 50px;
     height: 50px;
     float: right;
     margin-top: 15px;
 }

 .modal_img {
/*
     width: 1000px;
     height: 630px;
*/
     width: 100%;
     height: 100%;
 }

 .modal_slider > div {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .img_1 {
     display: block;
 }

 .img_2,
 .img_3,
 .img_4,
 .img_5 {
     display: none;
 }

.heart{
    width: 38px;
    height: 38px;
    float: right;
    margin-right: 12px;
    margin-top: 3px;
    cursor: pointer;
}
.heart_postion{
    position: absolute;
    right: 0;
    top: 0;
}
 .contant {
     position: relative;
     top: -70px;
     left: 0;
     width: 1000px;
     height: auto;
     margin-left: 410px;
     background-color: white;
     border-top: 10px solid #8eddff;
     box-shadow: 0px 0px 35px #D5D5D5;
     text-align: center;
 }

 .prev,
 .next {
     position: absolute;
     width: 30px;
     height: 30px;
     cursor: pointer;
 }
.prev>img, .next>img{
    width: 25px;
    height: 50px;
}
 .prev {
     top: 400px;
     left: 50px;
 }

 .next {
     top: 400px;
     right: 40px;
 }
.information_button{
    cursor: pointer;
}
.titles{
    position: relative;
}
 .title_info {
     font-size: 15px;
     color: darkgray;
     text-decoration: underline;
     float: right;
 }

.count{
    width: 15px;
    height: 15px;
    opacity: 0.8;
}
.count1{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    opacity: 0.8;
}

 .title {
     width: 900px;
     height: auto;
     margin-left: 50px;
     margin-top: 15px;
     border-bottom: 1px solid lightgray;
     padding-bottom: 15px;

 }

 .title_text {
     font-weight: 1000;
     font-size: 40px;
 }

 .Rating {
     margin-left: 10px;
     font-size: 30px;
     color: #8eddff;
 }

 .tab_1 {
     display: none;
     text-align: left;
     width: 320px;
     float: left;
     margin-top: 50px;
 }

.menu_1{
    vertical-align: top;
    padding: 0px 10px 0px 10px;
}
.td_padding{
    padding: 10px;
}
 .tab_1 > img {
     margin-top: -300px;
     float: right;
 }

 .tab_btn_1 { 
     position: absolute;
     right: 53px;
     top: 68px;
     cursor: pointer;
     float: right;
 }


 .contant {
     word-break: break-all;
     margin: 0 auto;

 }

 .tab_content {
     width: 900px;
     height: auto;
 }

 .contant > img {
     margin-top: 50px;
     float: inherit;
 }

.text_text{
    margin-top: 20px;
    font-size: 20px;
    line-height: 140%;
}
.text_img{
    margin-bottom: 20px;
}
 .clear {
     clear: both;
     height: 0;
     overflow: hidden;
 }

 .text {
     width: 650px;
     height: auto;
     margin: 0 auto;
     margin-top: 30px;
     padding-bottom: 30px;
     text-align: left;
     position: relative;
 }
.board_delete{
    position: absolute;
    bottom: 30px;
    right: -150px;
    background-color: #ffffff;
    border: none;
    font-size: 15px;
    padding: 3px;
}
.contant_delete{
    width: 50px;
    height: 50px;
}
.board_revise{
    position: absolute;
    bottom: 30px;
    right: -90px;
    background-color: #ffffff;
    border: none;
    font-size: 15px;
    padding: 3px;
}
.reivew_write{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    right: 0;
}
.review_delete{
    width: 40px;
    height: 40px;
}
 .content_img {
/*
     width: 650px;
     height: 650px;
     
*/
     width: 100%;
 }

 .review_header {
     width: 1000px;
     height: auto;
     margin: 0 auto;
     position: relative;
 }

 .review_title {
     font-size: 30px;
     color: #8eddff;
     font-weight: 1000;
 }

 .review_count {
     font-size: 15px;
     color: lightgray;
 }

.review_write_button {
    display: inline;
    
}

 .review_contant {
     width: 1000px;
     height: auto;
     margin: 0 auto;
     margin-top: 10px;
     border-top: 5px solid #8eddff;
     box-shadow: 0px 0px 35px #D5D5D5;
     border-bottom: 1px solid lightgray;
     margin-bottom: 100px;
 }

 .review_text {
     width: 900px;
     height: auto;
     margin: 0 auto;
     margin-top: 30px;
     border-bottom: 1px solid lightgray;
     padding-bottom: 15px;
     position: relative;
 }

 .name {
     font-size: 25px;
     font-weight: 1000;
     color: dimgray;
     min-width: 100px;
     max-width: 100px;
 }

 .name > img {
     margin-left: 15px;
 }

 .time {
     width: 100%;
     height: 150px;
     font-size: 13px;
     color: darkgray;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     vertical-align: top;
 }

 .review_contant_text {
     width: 800px;
     height: auto;
     margin-left: 100px;
     margin-top: -15px;
     display: inline-block;
 }
.review_img{
    width: 100px;
    height: 100px;
}
 .review_img_list {
     margin-top: 15px;
     margin-left: 100px;
     
 }

 .review_write {
     width: 700px;
     height: 670px;
     background-color: white;
     border-top: 10px solid #8eddff;
     position: fixed;
     top: 50%;
     left: 50%;
     z-index: 999;
     transform: translate(-50%, -50%);
     display: none;
     opacity: 0;
 }

 .review_write_title {
     color: #8eddff;
     font-size: 25px;
     font-weight: 1000;
     margin-top: 25px;
     margin-left: 300px;
     display: inline-block;
 }

.X2 {
    display: inline;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

 .review_write_Rating {
     margin-top: 35px;
     margin-bottom: 15px;
     margin-left: 50px;
     color: darkgray;
     font-size: 18px;
 }

.starRev {margin-top: -25px;
margin-left: 130px;}

 .starR{
  background: url('../img/star2.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
     
}
.starR.on{background-position:0 0;}

 .file_box {
     margin-top: 35px;
     margin-left: 50px;
     color: darkgray;
     font-size: 17.5px;

 }

 .photo {
     margin-top: -25px;
     margin-left: 45px;
 }

 .file_box > .photo > label {
     width: 140px;
     height: 25px;
     margin-top: 5px;
     display: inline-block;
     text-align: center;
     padding: .2em;
     color: white;
     font-size: 14px;
     line-height: 25px;
     vertical-align: middle;
     background-color: darkgray;
     cursor: pointer;
     border-radius: 10px;
     margin-left: 90px;
 }

 .file_box input[type="file"] {
     /* 파일 필드 숨기기 */
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     border: 0;
 }

 .filebox label {
     display: inline-block;
     padding: .5em .75em;
     color: #999;
     font-size: inherit;
     line-height: normal;
     vertical-align: middle;
     background-color: #fdfdfd;
     cursor: pointer;
     border: 1px solid #ebebeb;
     border-bottom-color: #e2e2e2;
     border-radius: .25em;
 }

 .file_box .upload-name1,
 .upload-name2,
 .upload-name3,
 .upload-name4
     {
     width: 300px;
     height: 25px;
     margin-top: 5px;
     display: inline-block;
     padding: .5em .75em;
     /* label의 패딩값과 일치 */
     font-size: 13px;
     font-family: inherit;
     line-height: normal;
     vertical-align: middle;
     background-color: white;
     border: 1px solid lightgray;
     border-radius: 10px;
     -webkit-appearance: none;
     /* 네이티브 외형 감추기 */
     -moz-appearance: none;
     appearance: none;
 }

 .review_write_text {
     font-size: 18px;
     color: darkgray;
     margin-left: 50px;
     margin-top: 30px;

 }

.no_review{
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 25px;
    font-weight: 600;
    color: darkgray;
}
 .review_text_text {
     width: 450px;
     height: 250px;
     border: 1px solid lightgray;
     border-radius: 5px;
     margin-left: 180px;
     margin-top: -20px;
     padding: 10px;
     resize: none;
     color: dimgray;
 }

 .review_complet {
     width: 125px;
     height: 40px;
     border-radius: 25px;
     background-color: #8eddff;
     border: none;
     margin-top: 25px;
     margin-left: 505px;
     font-size: 18px;
     color: white;
     font-weight: 1000;
 }
.star_imgs{
    width: 20%;
}
.delete_button{
    position: absolute;
    bottom: 15px;
    right: 0;
    background: #ffffff;
    border: none;
}
h1{
    text-align: center;
}
.star_reivew_num{
    width: 50%;
    height: 50%;
    display: inline-block;
    margin-top: 10px;
}
.count_text{
    color: darkgrey;
    margin-left: 1.5px;
    margin-right: 1.5px;
}
.table_width{
    width: 280px;
    margin: 0;
    padding: 0;
}

.img_icon_text{
    width: 280px;
    margin: 0;
    padding: 0;
}
.review_table{
    text-align: left;
    margin: 0;
}
.td_name{
    width: 100px;
}
.img_td{
    margin-top: 10px;
}
.review_img{
    margin-top: 20px;
}
.content_td {
    width: 600px;
    padding-left: 10px;
    padding-top: 10px;
    color: #666666;
    font-weight: 1000;
}
/*
 .review_text {
     width: 900px;
     height: auto;
     margin: 0 auto;
     margin-top: 20px;
     border-bottom: 1px solid lightgray;
     padding-bottom: 10px;
     position: relative;
     text-align: left;
 }*/
